DATABASE_URL=postgresql://postgres:postgres@db/ecommerce
SQLALCHEMY_DATABASE_URL=postgresql://postgres:postgres@db/ecommerce
REDIS_HOST=redis

# Auth0 Configuration
AUTH0_DOMAIN=your-tenant.auth0.com
AUTH0_API_AUDIENCE=https://ecommerce-api
AUTH0_ALGORITHMS=RS256
